.recipeCard {
    max-width: 90%;

    margin: 2vh auto; /* Adjust the top and bottom margin according to the screen height, center */
    padding: 2vh 2vw; /* Adjust the padding according to the screen size */
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2); /* Adjust the shadow size according to the screen height */
    border-radius: 1vw; /* Adjust the corner rounding ratio according to the screen width */
    font-family: Polysans, sans-serif;
    color: black;
}

.recipeName {
    font-size: 2.5vw; /* Adjust the font size according to the screen width */
    margin-bottom: 1vh; /* Adjust the bottom margin according to the screen height */
}

.recipeImage {
    max-width: 100%;
    height: auto;
    border-radius: 1vw; /* Adjust the corner rounding ratio according to the screen width */
    margin-bottom: 1vh; /* Adjust the bottom margin according to the screen height */
}

.recipeDetails {
    margin-bottom: 2vh; /* Adjust the bottom margin according to the screen height */
    display: flex;
    flex-wrap: wrap; /* Move to a new line if contents overflow */
    justify-content: space-between;
    align-items: center;
}

.recipeInstructions {
    padding: 1vh 2vw; /* Adjust the padding according to the screen size */
}
