.innerContainer {
    flex: 1;
    padding: 2vh 2vw; /* Adjust padding according to screen size */
    margin: 2vh 2vw; /* Adjust margin according to screen size */
    box-sizing: border-box; /* Include padding and border in the width */
}
