.innerContainer {
    flex: 1;
    padding: 2vh 2vw; /* Ekran boyutuna göre padding ayarla */
    margin: 2vh 2vw; /* Ekran boyutuna göre margin ayarla */
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}
