.searchContainer {
    margin: 5vh auto; /* Vertical margin of 5% of the screen height */
    width: 80%; /* Container width set to 80% of the screen */
    max-width: 400px; /* Maximum width set to 400px */
    position: relative;
}

.search {
    border: none;
    border-bottom: 1px solid #e3e4dc;
    padding: 2vh 3vw; /* Vertical padding of 2%, horizontal padding of 3% of the screen width */
    width: 100%; /* Width set to 100% of the container */
    outline: none;
    font-size: 2vw; /* Font size adjusted according to the screen width */
    color: #393e46;
}
