.itemContainer {
    width: 90%; /* Set the width to 90% of the screen */
    max-width: 300px; /* Limit the maximum width to 300px */
    border-radius: 1vw; /* Adjust the corner rounding ratio according to the screen width */
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1); /* Adjust the shadow size according to the screen height */
    margin: 2vh auto; /* Adjust the top and bottom margin according to the screen height, center */
    overflow: hidden;
    font-family: Polysans, sans-serif;
}

.itemImage {
    max-width: 100%;
    height: auto;
}

.itemContent {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.itemName {
    font-size: 2vw; /* Adjust the font size according to the screen width */
    font-weight: 600;
    color: #393e46;
}

.itemButton {
    background-color: aqua;
    border: none;
    color: white;
    padding: 2vh 4vw; /* Adjust the padding according to the screen size */
    font-size: 1.5vw; /* Adjust the font size according to the screen width */
    font-weight: 600;
    cursor: pointer;
    border-radius: 1vw; /* Adjust the corner rounding ratio according to the screen width */
}

.buttonContainer {
    margin: 2vh auto; /* Adjust the top and bottom margin according to the screen height, center */
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap; /* Move to a new line if contents overflow */
}
