.nav {
    font-size: 2vw; /* Font boyutunu ekran genişliğine göre ayarlayın */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #393e46;
    padding: 3vh 5vw; /* Dikey ve yatayda padding'i ekran boyutuna göre ayarlayın */
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); /* Gölge boyutunu ekran genişliğine göre ayarlayın */
}
