.nav {
    font-size: 2vw; /* Adjust font size according to screen width */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #393e46;
    padding: 3vh 5vw; /* Adjust padding vertically and horizontally according to screen size */
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); /* Adjust shadow size according to screen width */
}
